header{
    background: linear-gradient(98.66deg,#d6e9ff 2.52%,#ffddf7);
    color:rgb(0, 0, 0) ;
    padding: 15px;}
    .logo{
        width: 70px;
        padding-left: 10px;
    }
    .logo img {
        width: 100%;
        
       
    }
    h1{ display: inline;
        justify-content: space-between;
        align-items: center;}
    main {background:white;
        color:rgb(0, 0, 0) ;
        padding: 15px;
    
    }
    footer {background: linear-gradient(98.66deg,#d6e9ff 2.52%,#ffddf7);
        color:rgb(0, 0, 0) ;
        padding: 15px;
        
    }