header{
    background: linear-gradient(70deg, rgba(3, 3, 52, 0.767), pink);
    color:rgb(0, 0, 0) ;
    padding: 15px;}
    .logo{
        width: 70px;
        padding-left: 10px;
    }
    .logo img {
        width: 100%;
        
       
    }
    h1{ display: inline;
        justify-content: space-between;
        align-items: center;}
    main {background: linear-gradient(to right, rgba(3, 3, 122, 0.526), rgba(184, 14, 45, 0.367));
        color:rgb(0, 0, 0) ;
        padding: 15px;
    
    }
    footer {background: linear-gradient(70deg, rgba(3, 3, 52, 0.767), pink);
        color:rgb(0, 0, 0) ;
        padding: 15px;
    }