header{
    background: white;
    color:rgb(0, 0, 0) ;
    padding: 15px;
    background-image: linear-gradient(to right top, #b3d4fc, #ccd3f9, #dfd3f3, #ecd5ec, #f3d9e6);
}
   
a{ color: rgb(3, 3, 14);
    text-decoration: none;

}
a:hover {color:rgb(13, 13, 193);
text-decoration: none;}
body{font-size: 18px;}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.logo{
    width: 70px;
    padding-left: 10px;
}
.logo img {
    width: 100%;
    display: block;
   
}

.logo_blok{
    display: flex;
    
}
.menu{list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
font-weight: bold;}
    .menu li{margin: 0 10px;}
.menu li:last-child{
    margin-right: 0;
}
.menu li:First-child{
    margin-left: 0;
}
main { background:white;
    color:rgb(0, 0, 0) ;
    padding: 15px;

}
footer {background-image: linear-gradient(to right top, #b3d4fc, #ccd3f9, #dfd3f3, #ecd5ec, #f3d9e6);
    color:rgb(0, 0, 0) ;
    padding: 15px;
    text-align: center;
}
.flex{display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}

.left,
.right {margin: 0 10px;}
.flex span{display: block;}

.helsi, .company,.patient, .doctor, .medical_institutions{
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 15px;

margin: 20px;


border-radius: 15px;
display: flex;
align-items: center;
align-content: center;
justify-content: space-around;
background: rgb(252,238,251);
background: linear-gradient(90deg, rgba(252,238,251,1) 0%, rgba(229,230,249,0.5245448521205357) 39%);
}
.img-block{width: 170px;}
.text-block{
    width: 600px;
}
.img-block img {width: 100%; }