header{
    background: white;
    color:rgb(0, 0, 0) ;
    padding: 15px;
}
a{ color: rgb(3, 3, 14);
    text-decoration: none;

}
a:hover {color:rgb(13, 13, 193);
text-decoration: none;}
body{font-size: 18px;}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    
}
.container {
    max-width: 1200px;
    margin: auto;
}
.logo{
    width: 70px;
    padding-left: 10px;
}
.logo img {
    width: 100%;
    display: block;
   
}

.logo_blok{
    display: flex;
    
}
.menu{list-style: none;
    margin: 0;
    padding: 0;
    display: flex;}
    .menu li{margin: 0 10px;}
.menu li:last-child{
    margin-right: 0;
}
.menu li:First-child{
    margin-left: 0;
}
main { background:white;
    color:rgb(0, 0, 0) ;
    padding: 15px;

}
footer {background: white;
    color:rgb(0, 0, 0) ;
    padding: 15px;
    text-align: center;
}
.flex{display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}

.left,
.right {margin: 0 10px;}
.flex span{display: block;}

.helsi, .company,.patient, .doctor, .medical_institutions, .company{
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 15px;

margin: 20px;
background-image: linear-gradient(to right top, #b3d4fc, #ccd3f9, #dfd3f3, #ecd5ec, #f3d9e6);
box-shadow: -10px -10px 20px 0px #00000078;
border-radius: 15px;
}
